<div style="border: 1px solid red; float: left; width: 30%">
{{> components/buttons/buttons displayText="Button 1"}}
</div>

<div style="border: 1px solid red; float: left; width: 30%">
    {{> components/buttons/buttons displayText="Button Test 100"}}
    {{> components/buttons/buttons displayText="www.elion.ee"}}
    {{> components/buttons/buttons displayText="Big Button"}}
</div>

<div style="clear:both; background-color: #c8c8c8;">
    <p>Hallo world!</p>
</div>
<p>
    next section
</p>
