<div style="border: 1px solid red; float: left; width: 30%">
{{> components/buttons/buttons displayText="Button 1"}}
</div>

<div style="border: 1px solid red; float: left; width: 30%">
    {{> components/buttons/buttons displayText="Button Test"}}
    {{> components/buttons/buttons displayText="www.elion.ee"}}
    {{> components/buttons/buttons displayText="Button 4"}}
</div>